<section class="property-binding">
    <article>
        <h3>Interpolation / Interpolação</h3>
        <!-- Adicionando variável criada no arquivo typescript, passando apenas por duas chaves. -->
        <!-- É bom colocar um espaço para ficar com uma aparência melhor -->
        <p>String renderizada pela interpolação: {{ url }}</p>
        <!-- Pode colocar expressões matemáticas -->
        <p>O resultado de 1 + 1 é: {{ 1 + 1 }}</p>
        <p>O valor de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>
        <p>Curso de angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
    </article>
    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImagem }}">
        <!-- Ao utilizar os colchetes, não precisará das chaves -->
        <img [src]="urlImagem">
        <!-- Mesma coisa que está na linha anterior, o angular faz isso por trás -->
        <img bind-src="urlImagem">
    </article>
</section>
